# binaries
**/*.dll
**/*.exe

# building stuff
build/*
build-mac/*
build-lin/*
build-win/*
*.dir/*
.vs/*
*.swp

# os stuff
.DS_Store
Thumbs.db
.sync/

# project stuff
binary/*
!binary/files/
!binary/game_files/
!binary/resources/
!binary/steam_appid.txt
!binary/steam_api.dll
!binary/m2o-2clients.exe

!projects/m2sdk/src/**
