# binaries
**/*.dll
**/*.exe

# directories
bin-*/*
distrib/build_*/*

# building stuff
build/*
build-mac/*
build-lin/*
build-win/*
*.dir/*
x64/*
x86/*
client.dir/*
server.dir/*
launcher.dir/*
.vs/*
Win32/

binary/*
!binary/files/
!binary/game_files/
!binary/resources/
!binary/steam_appid.txt
!binary/steam_api.dll

# os stuff
.DS_Store
Thumbs.db
.sync/

*.swp
